.logo {

    width: 7rem;

}

nav {
    color: white;
}

.par {

    margin-bottom: .3rem;
    text-decoration: none;
    color: white;
}

#compra {
    color: green;
}

.brilloOscuro {
    filter: brightness(50%);
}

.tx {
    font-size: 1.3rem;
}

.card-img-top {

    width: 100;
    height: 26rem;
}

.fs-5 {
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
}

.btn-sm {

    font-weight: bold;
    padding: 0rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.bgGrisOscuro {
    background-color: rgb(65, 65, 65);
}

#baoct {
    margin-top: 2.5rem;
}

.enviar {
    background-color: rgb(154, 224, 50);
    color: white;
    font-weight: 1rem;
    text-align: center;
    font-size: larger;
    padding-left: 27.5rem;
    padding-right: 27.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.formu {
    max-width: 60rem;
}

footer {

    background-color: rgb(48, 91, 118);
}



.pp {
    color: white;
}